.loginFormDriver {
	width: 320px;
	height: 66.5vh;
	overflow-y: scroll;
}

.loginFormDriver::-webkit-scrollbar {
	display: none;
}

@media (min-height: 667px) {
	.loginFormDriver {
		height: 68vh;
	}
}

@media (min-height: 720px) {
	.loginFormDriver {
		height: 71vh;
	}
}

@media (min-height: 820px) {
	.loginFormDriver {
		height: 72vh;
	}
}

@media (min-height: 830px) {
	.loginFormDriver {
		height: 74vh;
	}
}

.textFieldCreateTripDriver {
	box-sizing: border-box;
	width: 295px;
	height: 48px;
	background: #c5c5c5;
	border: 1px solid #c5c5c5;
	border-radius: 10px;

	font-family: 'Jost', sans-serif;
	padding: 20px;
	font-style: normal;
	font-size: 0.9375em;
	color: #111111;
}

.textFieldCreateTripDriver::placeholder {
	color: #111111;
}

.selectFieldCreateTripDriver {
	box-sizing: border-box;
	width: 295px;
	height: 48px;
	background: #c5c5c5;
	border: 1px solid #c5c5c5;
	border-radius: 10px;
	cursor: pointer;
	padding-left: 20px;
	padding-right: 20px;

	font-family: 'Jost', sans-serif;
	font-style: normal;
	font-size: 0.9375em;
	color: #111111;
}

.tagsInputField {
	display: flex;
	flex-direction: row;
	min-width: 295px;
	height: 48px;
	background: #c5c5c5;
	border: 1px solid #c5c5c5;
	border-radius: 10px;
	font-family: 'Jost', sans-serif;
	padding: 20px;
	font-style: normal;
	font-size: 0.9375em;
	color: #111111;
}

.tagsInputField::placeholder {
	color: #111111;
}

.tagsCaption {
	font-family: 'Jost', sans-serif;
	font-style: normal;
	font-size: 0.9375em;
	color: #111111;
}

.cancellButton {
	box-sizing: border-box;
	width: 135px;
	height: 39px;
	background: #b3b0b0;
	border: 1px solid #b3b0b0;
	border-radius: 10px;
	cursor: pointer;

	font-family: 'Jost', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 1.625em;
	text-align: center;
	color: #111111;
}

.cancellButton:hover {
	background: #807d7d;
	border: 1px solid #807d7d;
}

.activateButton {
	box-sizing: border-box;
	width: 135px;
	height: 39px;
	background: #edbe44;
	border: 1px solid #edbe44;
	border-radius: 10px;
	cursor: pointer;

	font-family: 'Jost', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 1.625em;
	text-align: center;
	color: #111111;
}

.activateButton:hover {
	background: #ba9535;
	border: 1px solid #ba9535;
}

.buttonsLineCreateTripDriver {
	display: flex;
	position: relative;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 10px;
	padding-right: 10px;
}
