/* Style sheet for login and registration */
.backArrow {
	border: none;
	cursor: pointer;
	background: none;
}

.login-tittle {
	font-family: 'Jost', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	text-align: center;
	color: #111111;
}

.loginForm {
	text-align: center;
}

.textField {
	box-sizing: border-box;
	width: 293px;
	height: 49px;
	background: #e8eef5;
	border: 1px solid #e8eef5;
	border-radius: 10px;

	font-family: 'Jost', sans-serif;
	padding: 20px;
	font-style: normal;
	font-size: 15px;
	color: #111111;
}

.textField::placeholder {
	color: #111111;
}

.logInButton {
	box-sizing: border-box;
	width: 293px;
	height: 49px;
	background: #2645e5;
	border: 1px solid #2645e5;
	border-radius: 10px;
	cursor: pointer;

	font-family: 'Jost', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	text-align: center;
	color: #ffffff;
}

.logInButton:hover {
	background: #192d98;
	border: 1px solid #192d98;
}

.errorMessage {
	font-family: 'Jost', sans-serif;
	font-style: normal;
	font-size: 15px;
	color: #9f0000;
}

.space100px {
	padding: 100px;
}

.space10px {
	padding: 10px;
}

.space16px {
	padding: 16px;
}

.createAPasswordCaption {
	font-family: 'Jost', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	text-align: center;
	color: #111111;
}

.space30px {
	padding: 30px;
}

.space20px {
	padding: 20px;
}

.selectButtonRegister {
	box-sizing: border-box;
	width: 293px;
	height: 49px;
	background: #e8eef5;
	border: 1px solid #e8eef5;
	border-radius: 10px;
	cursor: pointer;
	padding-left: 20px;
	padding-right: 20px;

	font-family: 'Jost', sans-serif;
	font-style: normal;
	font-size: 15px;
	color: #111111;
}

.spaceLeft {
	padding-left: 240px;
}

.spaceRight {
	padding-right: 240px;
}

.forwardArrow {
	width: 36px;
	height: 36px;
	border: none;
	cursor: pointer;
	background: none;
}
