.preLoginBase {
	position: relative;
	width: 360px;
	height: 800px;

	background: #ffffff;
	border-radius: 10px;
}

.uniDriveTittle {
	position: absolute;
	width: 221px;
	height: 42px;
	left: calc(50% - 221px / 2 - 0.5px);
	top: calc(50% - 42px / 2 - 162px);

	font-family: 'Urbanist';
	font-style: normal;
	font-weight: 900;
	font-size: 50px;
	line-height: 60px;
	display: flex;
	align-items: center;
	color: #111111;
}

.selectAccountCaption {
	position: absolute;
	width: 277px;
	height: 49px;
	left: calc(50% - 277px / 2 - 0.5px);
	top: calc(50% - 49px / 2 - 52.5px);

	font-family: 'Jost';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 26px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #111111;
}

.buttonPasajero {
	position: absolute;
	width: 293px;
	height: 49px;
	left: 33px;
	top: 403px;

	background: #efd8f5;
	border-radius: 10px;
	border: 1px solid #efd8f5;
	cursor: pointer;

	font-family: 'Jost';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 26px;
	align-items: center;
	text-align: center;
	color: #111111;
}

.buttonPasajero:hover {
	background: #bdabc2;
	border: 1px solid #bdabc2;
}

.buttonOfertante {
	position: absolute;
	width: 293px;
	height: 49px;
	left: 33px;
	top: 483px;

	background: #e7c1f2;
	border-radius: 10px;
	border: 1px solid #e7c1f2;
	cursor: pointer;

	font-family: 'Jost';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 26px;
	align-items: center;
	text-align: center;
	color: #111111;
}

.buttonOfertante:hover {
	background: #b698bf;
	border: 1px solid #b698bf;
}

.preloginFooter {
	font-family: 'Jost';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 22px;
	display: flex;
	align-items: center;
	text-align: center;
}

.tienesCuenta {
	position: absolute;
	width: 152px;
	height: 49px;
	left: calc(50% - 144px / 2 - 75px);
	top: calc(50% - 49px / 2 + 313.5px);
	color: #111111;
}

.registrate {
	position: absolute;
	width: 75px;
	height: 49px;
	left: calc(50% - 75px / 2 + 96.5px);
	top: calc(50% - 49px / 2 + 313.5px);
	color: #e50914;
	cursor: pointer;
}

.registrate:hover {
	color: #98050d;
}
