.logOutArrow {
	width: 23px;
	height: 23px;
	border: none;
	cursor: pointer;
	background: none;
}

.space2vh {
	padding: 2vh;
}

.space9px {
	padding: 9px;
}

.spaceLeftForLogOut {
	padding-left: 80vw;
}

.inCourseContainer{
	width: 291px;
	height: 62vh;
	background: #b3b0b0;
	border: 1px solid #b3b0b0;
	border-radius: 5px;
}

.appBarPosition {
	max-width: 340px;
	max-height: 200;
	position: absolute;
	left: 0;
	margin: auto;
	right: 0;
	bottom: 0px;
}
