.base {
	display: flex;
	width: 360px;
	height: 800px;
	background: #ffffff;
	border-radius: 10px;
}

.nextArrow {
	position: absolute;
	width: 36px;
	height: 36px;
	left: calc(130% - 22px / 2 - 150px);
	top: calc(180% - 22px / 2 - 260px);
	border: none;
	cursor: pointer;
	background: none;
}

.h3Style {
	position: absolute;
	width: 189px;
	height: 58px;
	left: calc(45% - 189px / 2 - 0.5px);
	top: calc(35% - 58px / 2 - 220px);

	font-family: 'Jost';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 58px;
	/* identical to box height */

	display: flex;
	align-items: center;
	text-align: center;
}

.formStyle {
	position: absolute;
	left: calc(40% - 22px / 2 - 150px);
	top: calc(35% - 22px / 2 - 260px);
	margin-top: 50%;
	margin-left: 5%;
	width: 331px;
	height: 436px;
	text-align: center;
}
.inputStyle {
	width: 293px;
	height: 49px;
	background: #e8eef5;
	border-radius: 12px;
}

.labelStyle {
	padding: -1%;
	font-family: 'Jost';
	font-style: normal;
	margin-left: 5%;
	font-weight: 400;
	font-size: 15px;
	line-height: 22px;
	/* identical to box height */

	display: flex;
	align-items: center;
	color: #111111;
}
