.searchTripFormRider {
	display: flex;
	box-sizing: border-box;
	width: 310px;
	background: #cccccc;
	border-radius: 10px;

	text-align: left;

	flex-direction: column;
	gap: 10px;
	padding: 10px;
}

.rowFormRider {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.buttonRowFormRider {
	display: flex;
	justify-content: right;
}

.buttonFormRider {
	box-sizing: border-box;
	width: 140px;
	height: 3vw;
	min-height: 30px;
	max-height: 44.1px;
	background: #d83c3e;
	border: 1px solid #d83c3e;
	border-radius: 10px;
	cursor: pointer;

	font-family: 'Jost', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	text-align: center;
	color: #ffffff;
}

.buttonFormRider:hover {
	background: #ec3838;
	border: 1px solid #ec3838;
}

.captionFormRider {
	font-family: 'Jost', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 1em;
}

.selectFieldSearchTripRider {
	display: flex;
	justify-content: left;
	background: #ffffff;
	border: 1px solid #ffffff;
	border-radius: 10px;
	width: 120px;

	font-family: 'Jost', sans-serif;
	font-style: normal;
	font-size: 0.875em;
	padding-left: 10px;
	padding-right: 10px;
}

.captionSearchTripRiderContainer {
	width: 302px;
	display: flex;
}

.captionSearchTripRider {
	font-family: 'Jost', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 1.125em;
}

.searchTripRiderBody {
	display: flex;
	gap: 10px;
	flex-direction: column;
	align-items: center;
	height: 66.5vh;
	overflow-y: scroll;
}

.searchTripRiderBody::-webkit-scrollbar {
	display: none;
}

@media (min-height: 667px) {
	.searchTripRiderBody {
		height: 68vh;
	}
}

@media (min-height: 720px) {
	.searchTripRiderBody {
		height: 71vh;
	}
}

@media (min-height: 820px) {
	.searchTripRiderBody {
		height: 72vh;
	}
}

@media (min-height: 830px) {
	.searchTripRiderBody {
		height: 74vh;
	}
}
