:root {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-text-size-adjust: 100%;
}

body {
	font-family: 'Jost', sans-serif;
	background: #ffffff;
	color: #111111;
}
